.transparent-input {
  background-color: transparent;
  border: 1px solid #8f8d8d; /* Darker border color */
  color: white; /* Text color */
}

.transparent-input:focus {
  background-color: rgb(43, 166, 166);
  outline: none; /* Removing the focus outline */
  border-color: #628fbe; /* Changing border color on focus */
}

.home_background {
  height: 100vh;
  background-image: url('./5.jpg');

  background-size: cover;
}
